.despleg {
    background: linear-gradient(#FFFAFA, #f0e552);
    height: auto;
}
.dws_menu *{
    margin: 0;
    padding: 0;
}
.dws_menu img {
    width: 100px;
    height: 100px;
    margin: 0;
    float: left;
}
.dws_menu ul{
    list-style: none;
    position:relative;
}
.dws_menu > ul{
    display: flex;
    justify-content: center;
}
.dws_menu > ul li{
    position: relative;
}
.dws_menu > ul li > a i.fa{
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
}
.dws_menu > ul li a {
        display: block;
        padding: 45px 30px;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        color:#370101;
        transition: all 0.3s ease;
}
.dws_menu li a:hover {
    background: linear-gradient(#FFFAFA, #f0e552);
    color: #833131;
    transition: all 0.3s ease;
}

/*submenu*/
.dws_menu li ul {
    position: absolute;
    margin: 0px;
    display: none;
    background-color: #f0e552; /*Le agregué el color de fondo porque sino al desplegar las opciones se confundía con el texto de contenido de la pag*/
    z-index:20;
    
}
.dws_menu li > ul li a {
        padding: 10px;
        font-size: 14px;
        text-transform: uppercase;
        z-index: 20;
    }
.dws_menu li > ul li ul{
    position: absolute;
    right: -150px;
    top: 0;
    z-index:20;
}
/* ===== MEDIA ====*/
.dws_menu [type="checkbox"], 
.dws_menu label.toggleSubmenu{
    display: none;
}
.dws_menu label.toggleMenu{
    background-color: linear-gradient(#FFFAFA, #f0e552);;
    display: none;
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
}
.dws_menu label.toggleMenu .fa{
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
}

@media (min-width:1000px) { 
    .dws_menu li:hover > ul {
    display: block;
  } 
}
@media all and (max-width:1000px) {
    .dws_menu {
        overflow: hidden;
}
    .dws_menu ul {
        display:block;
        max-height: 0;
        transition: 0.3s;
    }
    .dws_menu li > ul li ul{
        position: absolute;
        right: auto;
        top: auto;
    }
    .dws_menu label.toggleMenu{
        display: block;
    }
    input.toggleMenu:checked + label.toggleMenu{
        background: rgb(80, 48, 48);
        color: #fff;
    }
    input.toggleMenu:checked ~ ul, 
    input.toggleSubmenu:checked ~ ul{
        display: block;
        position: relative;
        max-height: 5000px;
        transition: 2s ease-in;
    }
    .dws_menu label.toggleSubmenu{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: block;
    }
    input.toggleSubmenu:checked ~ a{
        background: linear-gradient(#FFFAFA, #f0e552);
        color: rgb(121, 22, 22);

    }
    .dws_menu label.toggleSubmenu .fa::before{
        content: "\f0d7";
        color: #380e03;
    }
    .dws_menu label.toggleSubmenu .fa{
        position: absolute;
        top: 15px;
        right: 30px;
    }
    .dws_menu input.toggleSubmenu:checked ~ label.toggleSubmenu .fa::before{
        content: "\f0d7";
        color: #ffffff;
    }
    .dws_menu li ul{
background:linear-gradient(#f7ecec, #f5ed81);
    }
    .dws_menu img {
       display: none;
    }

}