/*Finalizar la Compra*/

.fin_de_compra{
    background-image: url(https://99px.ru/sstorage/53/2011/06/mid_16243_7570.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.fin_de_compra label {
    margin: 0.2em;
}
.finalizar{
    font-size: 18px;
    background-color: #b1af49;
    padding: 20px;
    width: 370px;
    margin:70px;
    border-radius: 15px;
}

.finalizar input{
    margin-bottom:5px;
    
}
.btn{
    width: 100%;
    background-color: #1668c4;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
@media screen and (max-width:800px){
    
    .fin_de_compra {
        background-size:contain;
    }
    .finalizar{
        width: 55%;
        margin: 5px;

    }
    
}