/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

/*Estilos generales*/

body {
    font-family: 'Inter';
}

/*Barra de navegación*/

.despleg {
    background: linear-gradient(#FFFAFA, #f0e552);
    height: auto;
}
.dws_menu *{
    margin: 0;
    padding: 0;
}
.dws_menu img {
    width: 100px;
    height: 100px;
    margin: 0;
    float: left;
}
.dws_menu ul{
    list-style: none;
    position:relative;
}
.dws_menu > ul{
    display: flex;
    justify-content: center;
}
.dws_menu > ul li{
    position: relative;
}
.dws_menu > ul li > a i.fa{
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
}
.dws_menu > ul li a {
        display: block;
        padding: 45px 30px;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        color:#370101;
        transition: all 0.3s ease;
}
.dws_menu li a:hover {
    background: linear-gradient(#FFFAFA, #f0e552);
    color: #833131;
    transition: all 0.3s ease;
}

/*submenu*/
.dws_menu li ul {
    position: absolute;
    margin: 0px;
    display: none;
    background-color: #f0e552; /*Le agregué el color de fondo porque sino al desplegar las opciones se confundía con el texto de contenido de la pag*/
    z-index:20;
    
}
.dws_menu li > ul li a {
        padding: 10px;
        font-size: 14px;
        text-transform: uppercase;
        z-index: 20;
    }
.dws_menu li > ul li ul{
    position: absolute;
    right: -150px;
    top: 0;
    z-index:20;
}
/* ===== MEDIA ====*/
.dws_menu [type="checkbox"], 
.dws_menu label.toggleSubmenu{
    display: none;
}
.dws_menu label.toggleMenu{
    background-color: linear-gradient(#FFFAFA, #f0e552);;
    display: none;
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
}
.dws_menu label.toggleMenu .fa{
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
}

@media (min-width:1000px) { 
    .dws_menu li:hover > ul {
    display: block;
  } 
}
@media all and (max-width:1000px) {
    .dws_menu {
        overflow: hidden;
}
    .dws_menu ul {
        display:block;
        max-height: 0;
        transition: 0.3s;
    }
    .dws_menu li > ul li ul{
        position: absolute;
        right: auto;
        top: auto;
    }
    .dws_menu label.toggleMenu{
        display: block;
    }
    input.toggleMenu:checked + label.toggleMenu{
        background: rgb(80, 48, 48);
        color: #fff;
    }
    input.toggleMenu:checked ~ ul, 
    input.toggleSubmenu:checked ~ ul{
        display: block;
        position: relative;
        max-height: 5000px;
        transition: 2s ease-in;
    }
    .dws_menu label.toggleSubmenu{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: block;
    }
    input.toggleSubmenu:checked ~ a{
        background: linear-gradient(#FFFAFA, #f0e552);
        color: rgb(121, 22, 22);

    }
    .dws_menu label.toggleSubmenu .fa::before{
        content: "\f0d7";
        color: #380e03;
    }
    .dws_menu label.toggleSubmenu .fa{
        position: absolute;
        top: 15px;
        right: 30px;
    }
    .dws_menu input.toggleSubmenu:checked ~ label.toggleSubmenu .fa::before{
        content: "\f0d7";
        color: #ffffff;
    }
    .dws_menu li ul{
background:linear-gradient(#f7ecec, #f5ed81);
    }
    .dws_menu img {
       display: none;
    }

}

/**CAROUSEL SLIDER**/
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
  }
  .mySlides {
      display: none;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/*main Mascotas perdidas-encontradas*/

.publicaciones {
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 1.5em;
    text-align: center;
    justify-content: center;
    justify-items: center;
}
.publicaciones h1 {
    margin-top: 0.3em;
    font-weight: 600;
    font-size: 3em;
}

.publicaciones h3 {
    background-color: #e3f8ce;
    width: 90%;
    border-radius: 1em;
}

.publicaciones p {
    font-weight: 500;
    margin-bottom: 0.8em;
    font-size: 1.2em;
}

#enlaceForm {
    border: 0.1em solid #370101;
    background-color: #e5e9dc;
    padding: 0.5em;
    border-radius: 10px;
    font-weight: 600;
    text-align: center;
    justify-self: center;
}

#enlaceForm a {
    color: rgb(102, 150, 57);
}

hr {
    width: 98%;
    margin: 0.8em 0;
}

#filtros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
}

#filtros select {
    width: fit-content;
    height: 2.5em;
    margin: 0.35em;
    background-color: rgb(252, 250, 121);
    font-weight: bolder;
    border: none;
}

#filtros select:hover {
    background-color: rgb(241, 228, 158);
}

#filtros option {
    background-color: rgb(255, 255, 255);
}

#btnBuscador {
    background-color: rgb(138, 182, 97);
    width: 8.5em;
    height: 2.8em;
    padding: 0;
    margin: 0 0.35em;
    font-size: 0.9em;
}

#btnBuscador:hover {
    background-color: rgb(111, 136, 87);
}

button img {
    width: 1em;
}

.selectOculto, .botonOculto {
    display: none !important; 
}

#btnFiltroEspecializado, #btnFiltroRapido {
    height: fit-content;
    padding: 0.3em;
    margin: 0.5em;
    justify-self: center;
    align-self: center;
    width: 65%;
    background-color: rgb(218, 204, 134);
}

#btnFiltroEspecializado:hover, #btnFiltroRapido:hover {
    background-color: rgb(201, 194, 159);
}

.publicaciones section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    margin: 2em;
}

.publicaciones .card {
    justify-self: center;
    text-align: center;
    width: 100%;
    max-width: 30em;
}

.publicaciones .btn-primary {
    background-color: rgb(248, 219, 88);
    border-color: rgb(0, 0, 0);
}

.publicaciones .btn-primary:active,
.btn-primary:hover {
    background-color: rgb(248, 219, 88);
    border-color: rgb(0, 0, 0);
}

/*Diseño para móvil*/

@media screen and (max-width:575px) {

    /*main perdidos-encontrados*/

    .publicaciones p, #enlaceForm {
        text-align: center;
    }

    .publicaciones section {
       display: flex;
       flex-direction: column;
    }

    #filtros select {
        text-align: center;
    }
  }

/*Diseño para tablet*/

@media screen and (min-width:576px) and (max-width:767px) {

    /*main perdidos-encontrados*/

    .publicaciones p, #enlaceForm {
        text-align: center;
    }

    .publicaciones section {
        grid-template-columns: 1fr 1fr;
    }
    
}

/****Pie de Pagina****/
.pie-pagina{
    width: 100%;
    background: linear-gradient(#FFFAFA, #f0e552);
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 200px;
}
.pie-pagina .grupo-1 .box h2{
    color: #370101;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #370101;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: rgba(244, 244, 12, 0.708);
}
.pie-pagina .grupo-2{
    background-color: #0d2033;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 80%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }

}
/*main Login*/
:root {
    --login-bg:#f8e5ac; 
    --title-bg: #9089cc;
    --button-bg: #674baf;
    --light-pink: #e66fe6;
    --image-bg:  #cbaef3 ;
}
.login-container {
    height: 43.75em;
    width: 60em;
    margin: 6em auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.login-info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    background-color: var(--login-bg);
}
.image-container {
    
    width: 50%;
    background-color: var(--image-bg);
    box-sizing: border-box;
}
.title {
    text-transform: capitalize;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--title-bg);
}
.social-login {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}
.social-login-element {
    width: 12.5rem;
    height: 3.75rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 5px;
    border: 1px solid var(--button-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-login-element img {
    width: 1.875rem;
    height: 1.875rem;
    position: relative;
    top: 0;
    left: -0.625rem;
}
.social-login-element:hover {
    background-color: #fff;
}
.login-info-container > p {
    font-size: 1.25em;
    margin-top: 1.5em;
}
.inputs-container {
    height: 55%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.input, .btn {
    width: 90%;
    height: 3.125rem;
    font-size: 1em;
}
.input {
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
}
.input:hover {
    border: 2px solid var(--button-bg);
}
.btn {
    width: 80%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: var(--button-bg);
    cursor: pointer;
}
.inputs-container p {
    margin: 0;
}
.span {
    color: var(--light-pink);
    font-weight: 600;
    cursor: pointer;
}

.login-container select {
    margin-bottom: 32px;
}

@media screen and (max-width: 1000px) {
    .login-container {
        width: 70%;
        margin-top: 3rem;
    }
    .login-info-container {
        width: 100%;
        border-radius: 5px;
    }
    .image-container {
        display: none;
    }  
}
@media screen and (max-width: 650px) {
    .login-container {
        width: 90%;
    }
}
@media screen and (max-width: 500px) {
    .login-container {
        height: 90%;
    }
    .social-login {
        flex-direction: column;
        align-items: center;
        height: 30%;
    }
    .login-info-container > p {
        margin: 0;
    }
}


/*Pagina de Contacto*/
.formulario {
    width: 40rem;
    margin: auto;
    background-color: #e5e9dc;
    padding: 2rem 3rem;
    box-sizing: border-box;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
}
.contacto, .subtitulo {
    color:#833131;
    text-align: center;
    margin: 0;
    margin-bottom: 2rem;
}
input, textarea {
    width: 100%;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-color: #cdc76b;
    border-radius: 0.5rem;
}
.btn {
    display:block;
    width: 10rem;
    text-transform: uppercase;
    color:#000000;
    font-weight: 900;
    padding: 1rem;
    margin:auto;
    text-align: center;
    background-color:#f0e552;
    transition: background-color 0.3s;
    cursor:pointer;
}
.btn:hover {
    background-color: #d9cb83;
}
@media screen and (max-width:1000px){
    
    .formulario {
        width: 70%;
    }
    
}

/*Finalizar la Compra*/

.fin_de_compra{
    background-image: url(https://99px.ru/sstorage/53/2011/06/mid_16243_7570.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.fin_de_compra label {
    margin: 0.2em;
}
.finalizar{
    font-size: 18px;
    background-color: #b1af49;
    padding: 20px;
    width: 370px;
    margin:70px;
    border-radius: 15px;
}

.finalizar input{
    margin-bottom:5px;
    
}
.btn{
    width: 100%;
    background-color: #1668c4;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
@media screen and (max-width:800px){
    
    .fin_de_compra {
        background-size:contain;
    }
    .finalizar{
        width: 55%;
        margin: 5px;

    }
    
}

/*-----MascotAdopcion----*/

.title{
    text-align: center;
    border: 0.1em solid #370101;
    background-color: #e5e9dc;
    padding: 0.5em;
    border-radius: 10px;
    font-weight: 600;
    margin:20px;
}

.container_adopcion{
    width: auto;
    max-width: 1200px;
    /*height: 630px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.animales{
    width: 330px;
    height: 500px;
   border-radius: 8px;
   box-shadow: 0 2px 2px rgba(0,0,0,0.2);
   overflow: hidden;
   margin: 20px;
   text-align: center;
   transition: all 0.25s;
}

.animales:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.animales img{
    width: 330px;
    height: 220px;
}

.animales h2{
   font-weight: 600;
}

.animales p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
 }

/*productos*/

.publicaciones_productos h1 {
    justify-self: center;
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: 700;
    font-size: 3em;
    background-image: linear-gradient(120deg, #F09819,#EDDE5D 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 100%;
}
.publicaciones_productos p {
    justify-self: center;
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 2em;
}
/* Carrito */

.container--carrito{
    font-family: 'Inter';
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    background-color: #f0e552;
    width: 60%;
    margin: 10vh auto;
    border-radius: 20px;
}
.productos{
    display: flex;
    flex-direction: row;
    margin: 1em auto;
    width: 90%;
    height: auto;
    align-content: space-between;
    align-items: center;
    justify-content: space-around;
    background-color: #f2eda4;
    padding: 50px;
    border-radius: 20px;
}

.quantity--container{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
    width: 13em;
    background-color: #f2eda4;
}

#quan{
    width: 10em;
    height: 100%;
    margin: 0;
    background-color: #f2eda4;
    text-align: center;
}
#quantity{
    width: 13em;
    text-align: center;
}
.quantity--container input{
    margin-left: 0;
    width: 3em;
    margin: 16px 0;
    text-align: center;
}
.del{
    margin-left: 1em;
    width: 50%;
}
.descripcion{
    font-weight: bold;
}
.fin{
    width: 20%;
    margin: auto;
}
.cart{
    font-weight: bold;
    text-align: center;
    margin: auto;
    padding: 20px 0;
}
.fin--span{
    font-weight: bold;
    text-align: center;
    margin: 10px auto;
    color: red;
}
.fin--container{
    font-weight: bold;
    text-align: center;
    margin: auto;
    padding: 20px 0;
}
.producto,
.precio{
    font-weight: 600;
}
@media screen and (max-width:800px){
    
    .productos{
        display: flex;
        flex-direction: column;
        margin: 1em auto;
        width: 90%;
        height: auto;
        align-content: space-between;
        align-items: center;
        justify-content: space-around;
        background-color: #f2eda4;
        padding: 50px;
        border-radius: 20px;
    }
    .quantity--container{
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        margin: 10px;
        padding: 0;
        text-align: center;
        height: auto;
        width: auto;
        background-color: #f2eda4;
    }
    .quantity--container input{
        margin-left: 0;
        width: 3em;
        margin: 16px 0;
    }
    .del{
        margin-left: 0;
        width: 3em;
    }
    #quan{
        width: auto;
        height: 100%;
        margin: auto;
        background-color: #f2eda4;

    }
    .fin{
        width: 80%;
        margin: auto;
    }
    .fin--container{
        font-weight: bold;
        text-align: center;
        margin: 0;
        padding: 0;
    }
}
/*Registro de mascotas*/
.photo {
    background-image: url(https://st2.depositphotos.com/1054904/7850/i/450/depositphotos_78508482-stock-photo-black-cat.jpg);
    background-position: 35%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
   
}

.registro_mascotas {
    width: 410px;
    height: auto;
    border: 20px;
    margin: 20px;
    padding: 20px;
    background-color: #e6d8d6;
    border-radius: 10px;
}

    .registro_mascotas label {
        font-size: 16px;
        display: block;
        width: 100%;
        
    }

    .registro_mascotas textarea {
        resize: vertical;
        max-height: 300px;
        min-height: 100px;
    }

    .registro_mascotas input, textarea {
        margin-bottom: 20px;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid rgb(231, 198, 175);
        border-radius: 20px;
    }

        .registro_mascotas input:focus, textarea:focus {
            outline: none;
        }

        .registro_mascotas input[type="submit"] {
            color: #fff;
            border: none;
            text-decoration: none;
            border-radius: 10px;
            text-transform: uppercase;
            letter-spacing: 2px;
            background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
            background-size: 200% auto;
            box-shadow: 0 00 20px rgba(0, 0, 0, .1);
            width: 140px;
            height: 60px;
            display: block;
            margin: auto;
        }

        .registro_mascotas input[type="submit"]:hover {
            background-position: right center;
            color: #370101;
        }

        .selects {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 1em;
        }

        .registro_mascotas .form-select {
            margin: 0 0 1em;
        }

.regis_mas h4 {
    padding: 15px;
    font-size: 28px;
    font-style: italic;
    color: #4e2714;
    text-shadow: 3px 5px 6px #521919;

}

@media screen and (max-width:800px){
    
    .registro_mascotas {
        width: 100%;
        margin: 5px;
    }
}
    /* ----- -----  Estilos para Validacion ----- ----- */

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 45px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}
 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
} 

.formulario__mensaje {
	height: 45px;
	line-height: 35px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}


.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
} 