<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
     <!--Fuente Google Fonts-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
     <!--Fuente fontawesome-->
     <script src="https://kit.fontawesome.com/98b3766597.js" crossorigin="anonymous"></script>
     <!---link favicon-->
     <link rel="icon" type="icon/png" href="../imagenes/mascotar.favi.png">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/estilos.css">
    
    <title>Contacto</title>
</head>
<body>




    <!--Barra de navegación-->
    <header class="despleg">
        <nav class="dws_menu">
            <a href="../../index.html"><img src="../imagenes/logo.png" alt="logo" /></a>

            <input type="checkbox" name="toggle" id="menu" class="toggleMenu">
            <label for="menu" class="toggleMenu"><i class="fa-solid fa-bars"></i>Menu</label>
            <ul>
                <li><a href="../../index.html">Inicio</a></li>
                <li>
                    <input type="checkbox" name="toggle" class="toggleSubmenu" id="sub_m1">
                    <a href="#">Buscador de mascotas</a>
                    <label for="sub_m1" class="toggleSubmenu"><i class="fa"></i></label>
            <ul>
                        <li><a href="./perdidos.html">Mascotas perdidas</a></li>
                        <li><a href="./encontrados.html">Mascotas encontradas</a></li>
                        <li><a href="./registromascotas.html">Registrar una mascota</a></li>
                    </ul>
                </li>
                <li><a href="./MascotAdopcion.html">Mascotas en adopción</a></li>
                <li>	
                    <input type="checkbox" name="toggle" class="toggleSubmenu" id="sub_m2">
                    <a href="#">Productos</a>
                    <label for="sub_m2" class="toggleSubmenu"><i class="fa"></i></label>
                    <ul>
                        <li><a href="./productos.html">ver Productos</a></li>
                        <li><a href="./carrito.html">Carrito</a></li>
                        <li><a href="./finalizaciondecompra.html">Finalizar la compra</a></li>
                    </ul>
                </li>
                <li><a href="./contacto.html">Contáctanos</a></li>
                <li>
                    <input type="checkbox" name="toggle" class="toggleSubmenu" id="sub_m3">
                    <a href="#">Log In</a>
                    <label for="sub_m3" class="toggleSubmenu"><i class="fa"></i></label>
                    <ul>
                        <li><a href="./login.html">Login</a></li>
                        <li><a href="./registro_us.html">Registro</a></li>
                    </ul>
                </li>
            </ul>
        </nav>	

   </header>

 <main>
    <form action="" class="formulario" id="formulario">
        <h2 class="contacto">Contacto</h2>
    <p class="subtitulo">Escribenos y la brevedad nos pondremos en contacto con vos</p>
        <!-- Grupo: Nombre -->
        <div class="formulario__grupo" id="grupo__nombre">
            <label for="nombre" class="formulario__label">Nombre</label>
            <div class="formulario__grupo-input">
                <input type="text" class="formulario__input" name="nombre" id="nombre">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <p class="formulario__input-error">El nombre tiene que ser de 4 a 16 dígitos y solo puede contener numeros, letras y guion bajo.</p>
        </div>

        <!-- Grupo: Apellido-->
        <div class="formulario__grupo" id="grupo__apellido">
            <label for="apellido" class="formulario__label">Apellido</label>
            <div class="formulario__grupo-input">
                <input type="text" class="formulario__input" name="apellido" id="apellido" >
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <p class="formulario__input-error">El apellido tiene que ser de 4 a 16 dígitos y solo puede contener numeros, letras y guion bajo.</p>
        </div>

        <!-- Grupo: Teléfono -->
        <div class="formulario__grupo" id="grupo__telefono">
            <label for="telefono" class="formulario__label">Teléfono</label>
            <div class="formulario__grupo-input">
                <input type="text" class="formulario__input" name="telefono" id="telefono" placeholder="4491234567">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <p class="formulario__input-error">El telefono solo puede contener numeros y el maximo son 14 dígitos.</p>
        </div>

        <!-- Grupo: Correo Electronico -->
        <div class="formulario__grupo" id="grupo__correo">
            <label for="correo" class="formulario__label">Correo Electrónico</label>
            <div class="formulario__grupo-input">
                <input type="email" class="formulario__input" name="correo" id="correo" placeholder="correo@correo.com">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <p class="formulario__input-error">El correo solo puede contener letras, numeros, puntos, guiones y guion bajo.</p>
        </div>

    
        <div class="formulario__mensaje" id="formulario__mensaje">
            <p><i class="fas_fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
        </div>

        <div class="formulario__grupo formulario__grupo-btn-enviar">
            <button type="submit" class="formulario__btn">Enviar</button>
            <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
        </div>
    </form>
</main>
<script src="./js/validar_contacto.js"></script>


 <!---Pie de Pagina---->
 <footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="../imagenes/logo.png" alt= "Logo de MascotAR">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>Nuestra misión es el bienestar de los animales, el objetivo principal  de este espacio es ayudar a los animales domésticos, brindando la posibilidad a que se pueden realizar publicaciones de mascotas perdidas o encontradas, con el fin de lograr el reencuentro con sus familias; o también de encontrar una a aquellos que no la tengan.</p>
            <p><b>"Los animales no son propiedades o cosas,sino seres vivos que merecen nuestra compasión,respeto,amistad y apoyo"</b></p>
        </div>

        <div class="box">
            <h2>SEGUINOS</h2>
            <div class="red-social">
                <a href="https://www.facebook.com" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com" class="fa fa-instagram"></a>
                <a href="https://twitter.com" class="fa fa-twitter"></a>
                <a href="https://www.youtube.com" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2022 <b>MascotAR</b> - Todos los Derechos Reservados - Desarrollado por <b>Optimus WEB</b></small>
    </div>
</footer>
</body>
</html>