    <main class="photo">
        
    <section class="regis_mas">
        <h4>Formulario de Registro de Mascotas</h4>
        <form class="registro_mascotas" onsubmit="return validar();" method="post">
            <label for="nombre">Nombre y Apellido:</label>
            <input type="text" id="nombre">
            <label for="email">Email:</label>
            <input type="email" id="email">
            <label for="registro">Elija una opción:</label>
            <select class="form-select" id="registro" name="registro" required>
                <option value="">Seleccionar...</option>
                <option value="Perdí a mi mascota">Perdí a mi mascota</option>
                <option value="Encontré una mascota">Encontré una mascota</option>
                <option value="Quiero adoptar una mascota">Quiero dar en adopción una mascota</option>
            </select>
            <div class="selects">
                <select class="form-select provincias" name="Provincia" aria-label="Default select example" oninput="getDepartamentos()" required>
                    <option value="" selected>Provincia</option>
                </select>
                <select class="form-select departamentos" name="Departamento" aria-label="Default select example" disabled required>
                    <option value="" selected>Departamento</option>
                </select>
                <select class="form-select especie" name="Especie" aria-label="Default select example" oninput="getRazas()" required>
                    <option value="" selected>Especie</option>
                    <option value="1">Perro</option>
                    <option value="2">Gato</option>
                    <option value="3">Otro</option>
                </select>
                <select class="form-select" id="raza" name="Raza" aria-label="Default select example" disabled required>
                    <option value="" selected>Raza</option>
                </select>
                <select class="form-select" name="Sexo" aria-label="Default select example" required>
                    <option value="" selected>Sexo</option>
                    <option value="1">Macho</option>
                    <option value="2">Hembra</option>
                    <option value="3">No sé</option>
                </select>
                <select class="form-select" name="Edad" aria-label="Default select example" required>
                    <option value="" selected>Edad</option>
                    <option value="1">0 - 3 años</option>
                    <option value="2">4 - 6 años</option>
                    <option value="3">7 - 9 años</option>
                    <option value="4">10 - 12 años</option>
                    <option value="5">13 - 15 años</option>
                    <option value="6">16 - 18 años</option>
                    <option value="7">Más de 18 años</option>
                    <option value="8">No sé</option>
                </select>
                <select class="form-select" name="Color principal" aria-label="Default select example" required>
                    <option value="" selected>Color principal</option>
                    <option value="1">Blanco</option>
                    <option value="2">Negro</option>
                    <option value="3">Marrón</option>
                    <option value="4">Gris</option>
                </select>
                <select class="form-select" name="Color secundario" aria-label="Default select example" required>
                    <option value="" selected>Color secundario</option>
                    <option value="1">Blanco</option>
                    <option value="2">Negro</option>
                    <option value="3">Marrón</option>
                    <option value="4">Gris</option>
                </select>
                <select class="form-select" name="Orejas" aria-label="Default select example" required>
                    <option value="" selected>Orejas</option>
                    <option value="1">Paradas</option>
                    <option value="2">Caídas</option>
                    <option value="3">Muy largas</option>
                </select>
                <select class="form-select" name="Cola" aria-label="Default select example" required>
                    <option value="" selected>Cola                                                                                                                                    </option>
                    <option value="1">Corta</option>
                    <option value="2">Larga</option>
                </select>
            </div>
            <label>Subir foto de la mascota:</label>
            <input type="file" id="foto"><br>
            <label for="descripcion">Descripción de la mascota:</label>
            <textarea id="descripcion" name="descripcion"></textarea>
            <input type="submit" value="ENVIAR"/>
            </form>
        </section>
    </main>
