
<div class="login-container">
    <div class="login-info-container">
      <h1 class="title">Registro</h1>
      <div class="social-login">
          <div class="social-login-element">
            <a href="https://www.google.com.ar/?hl=es" target="_blank" style="text-decoration:none"> <img src="../../../assets/imagenes/google.svg" alt="google-image">

              <span>Google</span>
            </a>

          </div>
          <div class="social-login-element">

            <a href="https://es-la.facebook.com/" target="_blank" style="text-decoration:none">
                <img src="../../../assets/imagenes/facebook.svg" alt="facebook-image">
                <span> Facebook</span>
            </a>
          </div>
      </div>
      

      <form action="" method="post" class="inputs-container" id="form" onsubmit="return validar();">

          <input class="input" type="text" placeholder="Nombre" id="nombre" required >
          <input class="input" type="text" placeholder="Telefono" id="telefono" required >
          <input class="input" type="email" placeholder="Correo" id="email" required >
          <input class="input" type="password" placeholder="Contraseña" id="password" required>
          <select class="input form-select provincias" name="Provincia" aria-label="Default select example" oninput="getDepartamentos()" required>
             <option selected>Provincia</option>
          </select>
          <select class="input form-select departamentos" name="Departamento" aria-label="Default select example" disabled required>
             <option selected>Departamento</option>
          </select>
          <button type="submit" class="btn">Registrarse</button>
          <p class="warnings" id="warnings"></p>

      </form>
    </div>
      <img class="image-container" src="../../../assets/imagenes/encontrado7.jpg" alt="">
</div>
