.publicaciones {
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 1.5em;
    text-align: center;
    justify-content: center;
    justify-items: center;
}
.publicaciones h1 {
    margin-top: 0.3em;
    font-weight: 600;
    font-size: 3em;
}

.publicaciones h3 {
    background-color: #e3f8ce;
    width: 90%;
    border-radius: 1em;
}

.publicaciones p {
    font-weight: 500;
    margin-bottom: 0.8em;
    font-size: 1.2em;
}

#enlaceForm {
    border: 0.1em solid #370101;
    background-color: #e5e9dc;
    padding: 0.5em;
    border-radius: 10px;
    font-weight: 600;
    text-align: center;
    justify-self: center;
}

#enlaceForm a {
    color: rgb(102, 150, 57);
}

hr {
    width: 98%;
    margin: 0.8em 0;
}

#filtros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
}

#filtros select {
    width: fit-content;
    height: 2.5em;
    margin: 0.35em;
    background-color: rgb(252, 250, 121);
    font-weight: bolder;
    border: none;
}

#filtros select:hover {
    background-color: rgb(241, 228, 158);
}

#filtros option {
    background-color: rgb(255, 255, 255);
}

#btnBuscador {
    background-color: rgb(138, 182, 97);
    width: 8.5em;
    height: 2.8em;
    padding: 0;
    margin: 0 0.35em;
    font-size: 0.9em;
}

#btnBuscador:hover {
    background-color: rgb(111, 136, 87);
}

button img {
    width: 1em;
}

.selectOculto, .botonOculto {
    display: none !important; 
}

#btnFiltroEspecializado, #btnFiltroRapido {
    height: fit-content;
    padding: 0.3em;
    margin: 0.5em;
    justify-self: center;
    align-self: center;
    width: 65%;
    background-color: rgb(218, 204, 134);
}

#btnFiltroEspecializado:hover, #btnFiltroRapido:hover {
    background-color: rgb(201, 194, 159);
}

.publicaciones section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    margin: 2em;
}

.publicaciones .card {
    justify-self: center;
    text-align: center;
    width: 100%;
    max-width: 30em;
}

.publicaciones .btn-primary {
    background-color: rgb(248, 219, 88);
    border-color: rgb(0, 0, 0);
}

.publicaciones .btn-primary:active,
.btn-primary:hover {
    background-color: rgb(248, 219, 88);
    border-color: rgb(0, 0, 0);
}

/*Diseño para móvil*/

@media screen and (max-width:575px) {

    /*main perdidos-encontrados*/

    .publicaciones p, #enlaceForm {
        text-align: center;
    }

    .publicaciones section {
       display: flex;
       flex-direction: column;
    }

    #filtros select {
        text-align: center;
    }
  }

/*Diseño para tablet*/

@media screen and (min-width:576px) and (max-width:767px) {

    /*main perdidos-encontrados*/

    .publicaciones p, #enlaceForm {
        text-align: center;
    }

    .publicaciones section {
        grid-template-columns: 1fr 1fr;
    }
    
}