
<div class="login-container">
	<div class="login-info-container">
	  <h1 class="title">Inicia Sesión</h1>
	  <div class="social-login">
		  <div class="social-login-element">
			<a href="https://www.google.com.ar/?hl=es" target="_blank" style="text-decoration:none"> <img src="../../../assets/imagenes/google.svg" alt="google-image">
			  <span>Google</span> </a>
		  </div>
		  <div class="social-login-element">
			<a href="https://es-la.facebook.com/" target="_blank" style="text-decoration:none"><img src="../../../assets/imagenes/facebook.svg" alt="facebook-image">
			  <span>Facebook</span> </a>
		  </div>
	  </div>
	  <p>ó</p>
	  <form action ="" method="post" onsubmit="return validarLogin();" class="inputs-container">

		  <input class="input" type="email" placeholder="Correo" id="email"  >
		  <input class="input" type="password" placeholder="Contraseña" id= "password" >

		  <p>Olvidaste tu contraseña? <span class="span">Click aquí</span></p>

		  <button type="submit" class="btn">Iniciar Sesión</button>
		  
		  <p>No tienes una cuenta? <a href="http://127.0.0.1:5500/ProgFullStack/Frontend/view/registro_us.html" target="_blank" style="text-decoration:none " > <span class="span">Registrate</span></a></p>
	  </form>
	</div>
	  <img class="image-container" src="../../../assets/imagenes/encontrado3.jpg" alt="">
</div>